<h1>Services</h1>

<% if @connected_service_details.empty? %>
  <p>
    You are currently not connected to any external services.
  </p>
<% else %>
  <p>
    You are connected to the following services:
  </p>
  <ul>
    <% @connected_service_details.each do |service| %>
      <li>
        <%= link_to service["name"].to_s.humanize + " [" + service["site"] + "]", oauth_consumer_path(service["token"].class.service_name) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @service_details.empty? %>
<h3>You can connect to the following services:</h3>
<ul>
  <% @service_details.each do |service| %>
    <li>
      <%= link_to service["name"].to_s.humanize + " [" + service["site"] + "]", oauth_consumer_path(service["name"]) %>
    </li>
  <% end %>
</ul>
<% end %>
